*{
  box-sizing: border-box;
  border: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
  font-family: monospace;
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  min-height: 100%;

}

.header .nav {
  height: 100px;
  width: 100%;
  background-color: #0062d6;
}